# dependencies
downloads/
mochawesome-report
node_modules/
reports/
results/
cypress-visual-report/
cypress-visual-screenshots/comparison/
cypress-visual-screenshots/diff/
cypress/screenshots/
cypress/snapshots/actual
cypress/snapshots/diff